
*
{
        margin: 0;
        padding: 0;
}

header
{

        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(logo.jpg);
        background-size: cover;
        height: 100vh;
        background-position: center;
}

.main-nav
{ 
        float:right;
        list-style: none;
        margin-top: 30px;
        float: right;
}

.main-nav li
{
       display: inline-block;
}

.main-nav li a
{
        color: white;
        text-decoration: none;
        padding: 5px 20px;
        font-family:"Roboto", sans-serif;
        font-size: 15px;
}

.main-nav Li.active a
{
    border: 100px solid rgb(110, 0, 253);
}

.main-nav li a:hover
{
    border: 1px solid rgb(8, 221, 36);
}
.logo img
{
        width: 200px;
        height: auto;
        float: left;
}

body
{
        font-family: monospace;
}

.row
{
        max-height: 1200px;
        margin: auto;
}

.hero
{
        position: absolute;
        width: 1200px;
        margin-left: 0;
        margin-top: 0;
}

h1
{
        color: white;  
        text-transform: uppercase;
        font-size: 100px;
        text-align: center;    
        margin-top: 100px;
        margin-left: 650px;
}

.butten
{
        margin-top: 30px;      
        margin-left: 765px;
}

.btn
{
        border: 1px solid white;
        padding: 15px 45px;
        color: white;
        text-decoration: none;
        margin-right: 5px;
        font-size: 13px;
        text-transform: uppercase;
}

.btn-one
{
        font-family: "Roboto", sans-serif;
}

.btn-two
{
        font-family: "roboto", sans-serif
}

.btn-two:hover
{
        background-color: darkgoldenrod;
        transition: all 0.25s ease-in;
}
.btn-one:hover
{
        background-color: darkgoldenrod;
        transition: all 0.25s ease-in;
}

p
{
        color: white;

}

